{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>We will be receiving Post requests<h2>
    <h3>woop<h3>
    <script>
    	var path = window.location.pathname;
    	var data = JSON.stringify({path: path});

    	jQuery(document).ready(function ($) {
data = $.parseJSON(data);
	$.ajax("http://eltanin.cis.cornell.edu/reflection/foo",{ // eltanin.cis.cornell.edu/framechk/ a, ln -s
		data: JSON.stringify(data),
    // dataType: "json",
		contentType: "application/json",
		type: "POST",
    //it's going to itself...so it's seeing it as a get
    //tasks: deploy to server, and scrape
    success: function(data){ //puting a data here is the response
        console.log("Success!");
        console.log(data);
    }
	});

	});
    	</script>
  </div>
{% endblock %}